* {
    margin: 0px;
    padding: 0px;
    font-family: MS Gothic;     ;
}

:root {
    --background-color: #add8e6;
}

/* Default classes */
img {
    width: 30%;

    border: 5px hidden;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    color: rgb(230, 149, 92);
}

li {
    list-style-type: none ;
}

.tartalom {
    margin: 0px 60px;
    overflow: hidden;
}


/* NavBar */
nav li a{
    color: red;
	size: 36ptx;
    transition: all 0.3s ease;
    padding-bottom: 10px;
    border: 4px hidden none;
	background-color: #add8e6;
}


nav ul{
	margin: 0 auto; 
    display: flex;
    justify-content: space-evenly; 
    width: 70%;
	
}

nav {
   position: fixed;
   width: 100%; 
   height: fit-content;
   display: flex;

   padding: 1.5% 0px;

   align-items: center;
   justify-content: center;

	background-image: url("../media/uszosav.jpg");
	background-position: center;
	background-repeat: space;

	background-color: black;
   border-bottom: 4px solid black;

   z-index: 100;
}

footer {
    background-color: white;
    border-top: 4px solid black;
    width: 100%;
    height: fit-content;
    display: flex;
}

footer > ul {
    margin: 20px;
    display: flex;
}

footer > ul > li {
    flex-direction: row;
    padding-right: 10%;
}
